SEARCHAPI_KEY=2BcSHdpwMRps8xR611yFUaPW
SEARCHAPI_KEY_BACKUP=MCi58AMSXWC593ykzikBAaZC
APIFY_API_KEY=apify_api_ijQwHpf6EaJleup32PTcgnZCzghs5F2wjHI7
APIFY_API_KEY_BACKUP=apify_api_oRnOWsTuQg0caGqt4VRpBB2U8pEcjq0m1Quk
SUPABASE_PAT=your-supabase-pat-here
POLL_HOUR_UTC=6
