modules = ["nodejs-24", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "typecheck-dashboard"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "typecheck-api"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "build-api"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "build-dashboard"

[[workflows.workflow]]
name = "typecheck-dashboard"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd artifacts/dashboard && npx tsc --noEmit"

[workflows.workflow.metadata]
isValidation = true

[[workflows.workflow]]
name = "typecheck-api"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd artifacts/api-server && npx tsc --noEmit"

[workflows.workflow.metadata]
isValidation = true

[[workflows.workflow]]
name = "build-api"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd artifacts/api-server && node ./build.mjs"

[workflows.workflow.metadata]
isValidation = true

[[workflows.workflow]]
name = "build-dashboard"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd artifacts/dashboard && npx vite build"

[workflows.workflow.metadata]
isValidation = true

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
PLACE_ID_ELTEX = "ChIJhTCaeeajpBIR4O9YniCqiJ0"
SCRAPING_DOG_API_KEY = "69c93a0dc12e078c544a57d8"
HASDATA_API_KEY = "c7d8134a-3e82-45db-b8d4-ed252eec9261"
SEARCHAPI_KEY = "2BcSHdpwMRps8xR611yFUaPW"
DATA_ID_ELTEX = "0x12a4a3e6799a3085:0x9d88aa209e58efe0"
REVIEWS_POLL_INTERVAL_MS = "2700000"
SUPABASE_PAT = "sbp_cb056a032c429b68f5659d80bc731e0bb7ce4c10"

[nix]
channel = "stable-25_05"
