modules = ["nodejs-24", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
PLACE_ID_ELTEX = "ChIJhTCaeeajpBIR4O9YniCqiJ0"
SCRAPING_DOG_API_KEY = "69c83a377ad43e9744e8f679"
HASDATA_API_KEY = "c7d8134a-3e82-45db-b8d4-ed252eec9261"
SEARCHAPI_KEY = "vDXor7nhp1trnbZuX2mPQap8"
DATA_ID_ELTEX = "0x12a4a3e6799a3085:0x9d88aa209e58efe0"
REVIEWS_POLL_INTERVAL_MS = "2700000"
SUPABASE_PAT = "sbp_cb056a032c429b68f5659d80bc731e0bb7ce4c10"

[nix]
channel = "stable-25_05"
